* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  background-color: #000;
  width: 100%;
  overflow-x: hidden;
  color: #fff
}

.logo {
  width: 150px;
  height: auto;
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 100
}

#home-screen {
  display: block;
  transition: 10000;
  /*border-left: 5px solid transparent;
  border-image-source: linear-gradient(#09dc8f 30%,
      #e0208f 50%,
      #6236ff 50%,
      #e02020 40%);
  border-image-slice: 1
    /*border-image: url(images/border.png) 30 stretch;*/
}

.border-image {
  position: absolute;
  height: 100%;
  width: 5px;
  top: 0;
  transform: scaleY(1.2);
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  position: relative;
  margin-top: 15px
}


.polygon {
  width: 50.8%;
  padding-bottom: 88%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(50deg);
  position: relative;
  margin: 0 auto;
  top: 5vh;
  border-image-source: linear-gradient(-40deg, #424242, #fff);
  border-image-slice: 1
}

.polygon:after,
.polygon:before {
  content: "";
  position: absolute;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 100%;
  height: 100%
}

.polygon:before {
  transform: rotate(120deg);
  color: #fff;
  border-image-source: linear-gradient(-45deg, #000, #fff, #000);
  border-image-slice: 1
}

.polygon:after {
  transform: rotate(-120deg);
  color: #fff;
  border-image-source: linear-gradient(50deg, #000, #fff, #000);
  border-image-slice: 1
}

.whats-your-row {
  font-family: Oswald, sans-serif;
  font-size: 16vh;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  left: 0;
  right: 0;
  top: 24vh;
  z-index: 2;
  margin: auto;
  text-align: center;
  line-height: 128px;
}

#home-screen .quote {
  text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 3px 3px 0 #fff;
  color: #000
}

#home-screen .container .bottom-flex-wrap {
  display: flex;
  justify-content: space-between
}

.story-text {
  padding: 5px;
  font-family: "Bebas Neue", cursive;
  text-shadow: -4px -4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff, 4px 4px 0 #fff;
  text-transform: uppercase;
  font-size: 45vh;
  line-height: 1;
  letter-spacing: -11.1px;
  color: #000;
  font-weight: 400;
  z-index: 2
}

#home-screen .links img {
  width: 24px;
  height: 24px
}

#home-screen .links {
  font-family: Oswald, sans-serif;
  left: 5vw;
  position: absolute;
  bottom: 5vh;
  display: flex;
  justify-content: space-between;
  width: 15vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600
}

.start-button {
  font-family: Oswald, sans-serif;
  font-size: 3vh;
  padding-right: 9vh;
  border-bottom: #fff solid 5px;
  text-transform: uppercase;
  position: absolute;
  bottom: 5vh;
  right: 0;
  cursor: pointer
}

.start-button a {
  text-decoration: none;
  color: #fff
}

#choose {
  position: relative;
  display: none
}

#choose .container {
  margin-top: 0
}

#choose .header {
  position: absolute;
  z-index: 20;
  width: 100%;
  text-align: center;
  height: 15vh;
  background: linear-gradient(to bottom, #000, #85414100);
}

#choose h1 {
  font-family: 'Avenir Next LT Pro';
  letter-spacing: 2.67px;
  position: absolute;
  z-index: 20;
  width: 100%;
  text-align: center;
  height: 15vh;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  top: 10px;
}

#choose h1 span {
  font-weight: 600
}

#choose .container {
  display: flex;
  justify-content: space-around;
  width: 177vh;
  max-width: 100%
}

.background:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .6
}

.background-sport:after {
  background: linear-gradient(to bottom, red, #000, #000, #000)
}

.background-love:after {
  background: #6236ff;
  background: linear-gradient(to bottom, #6236ff, #000, #000, #000)
}

.background-fashion:after {
  background: #e0208f;
  background: linear-gradient(to bottom, #e0208f, #000, #000, #000)
}

.background-imagination:after {
  background: #09e293;
  background: linear-gradient(to bottom, #09e293, #000, #000, #000)
}

.choose.container.active .story:hover:after {
  content: none
}

.story {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 24.5%
}

.story img {
  width: 100%;
  height: 100%;
  opacity: 0
}

@media only screen and (min-width:1023px) {
  .story:hover {
    background-image: none !important
  }

  .story:hover .story-span {
    display: none
  }
}

.story:hover img {
  opacity: 1
}

.sport {
  background-image: url(images/sport-big.png);
  border-bottom: red solid 5px
}

.love {
  background-image: url(images/love-big.png);
  border-bottom: #6236ff solid 5px
}

.story:hover {
  border-bottom: none;
  transform-origin: bottom;
  z-index: 10;
  transition-duration: .2s;
  margin-top: 2vw;
  transform: scale3d(1.2, 1.1, 1)
}

.love:hover {
  transform: scale3d(1.1, 1.05, 1)
}


.imagination {
  background-image: url(images/imagination-big.png);
  background-size: cover;
  background-position: center;
  border-bottom: #09e293 solid 5px
}

.fashion {
  background-image: url(images/fashion-big.png);
  background-size: cover;
  background-position: center;
  border-bottom: #e0208f solid 5px
}

.story-span {
  width: 25%;
  position: absolute;
  font-family: Oswald, sans-serif;
  font-size: 8vh;
  letter-spacing: -.36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  bottom: 11%
}

span.story-span.imagination-text,
span.story-span.fashion-text {
  /*   bottom: 17%; */
}

.sport-text {
  left: 0
}

.love-text {
  left: 25%
}

.fashion-text {
  letter-spacing: -1.56px;
  left: 50%
}

.imagination-text {
  letter-spacing: -4.06px;
  left: 75%
}

.select-box {
  width: 15vw;
  max-width: 100%;
  height: 4vh;
  letter-spacing: 2.5px;
  background-color: rgba(255, 255, 255, .151);
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  transform: translateY(-72px);
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  color: #fff;
  padding-top: 2px;
  cursor: pointer
}

.story-anchor {
  text-decoration: none;
  ;
}

.love:hover .select-box {
  margin: 0 1.2vw 50px;
  width: 90.3%;
  background-color: #6236ff
}

.sport:hover .select-box {
  margin: 0 1.6vw 50px;
  width: 82%;
  background-color: red
}

.fashion:hover .select-box {
  margin: 0 2.2vw 50px;
  width: 82%;
  background-color: #e0208f
}

.imagination:hover .select-box {
  margin: 0 1.9vw 50px;
  width: 83.1%;
  background-color: #09e293
}

video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: calc(50vh - 29.725vw);
  animation-name: fade-in;
  animation-duration: 3s;
}

@media (max-aspect-ratio:1100 / 660) {
  video {
    width: 100%;
    top: 0;
    height: auto;
    left: 0;
  }
}

.fade-out {
  -webkit-animation-name: fade-out;
  animation-name: fade-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.bottom-video {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #000;
}

.bottom-video .share-links {
  display: flex;
  justify-content: center;
}

.bottom-video .share-links .oval {
  width: 42px;
  height: 42px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #ffffff;
  background-color: #ffffff;
}

.bottom-video .share-links p {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2.57px;
  margin: auto 0;

}

.bottom-video .share-links img {
  width: 32px;
  height: 32px;
  margin: 5px 8px;
}

.skip-button {
  font-family: Oswald, sans-serif;
  font-size: 3vh;
  padding-right: 9vh;
  border: none;
  background: transparent;
  color: white;
  border-bottom: #fff solid 5px;
  text-transform: uppercase;
  position: absolute;
  bottom: 1vh;
  right: 0;
  cursor: pointer
    /* background-color: gray;
  color: #fff;
  padding: 10px 25px 10px 25px;
  bottom: 7px;
  right: 2%;
  z-index: 10;
  position: absolute;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;*/
}

.single-container {
  display: none;
  width: 100%;
  color: #fff;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.single-container h1 {
  font-family: 'Avenir Next LT Pro';
  font-size: 12px;
  font-weight: 600;
  font-stretch: condensed;
  letter-spacing: 5.14px
}

.single-container .image-wrap {
  height: 100vh
}

.single-container .image-wrap #smallImage {
  display: none
}

.single-container .image-wrap img {
  width: auto;
  height: 100%
}

.single-container h1 {
  text-transform: uppercase;
  font-weight: 600;
}

.single-container .text-wrap {
  width: 52%;
  padding-top: 8.2vw;
  padding-left: 7vh;
  padding-right: 4vh
}

.single-container .text-wrap .main-text-head {
  font-family: 'Avenir Next LT Pro';
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 1.17;
  letter-spacing: -.4px;
  margin-top: 8vh
}

.underline {
  text-decoration: underline;
}

.single-container .text-wrap .sport-color {
  color: red;
}

.single-container .text-wrap .love-color {
  color: #6236ff;
}

.single-container .text-wrap .fashion-color {
  color: #e0208f;
}

.single-container .text-wrap .imagination-color {
  color: #09e293;
}

.single-container .text-wrap .main-text-second {
  font-family: 'Avenir Next LT Pro';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0px;
  margin-top: 6vh;
}

.single-container .text-wrap .main-text-third {
  font-family: 'Avenir Next LT Pro';
  font-size: 1.2vw;
  font-weight: 500;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: -.27px;
  margin-top: 9vh;
  border-left: 5px solid #fff;
  padding-left: 25px
}

.single-container .text-wrap .bottom-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.single-container .text-wrap .bottom-content .play-again {
  font-family: 'Avenir Next LT Pro';
  letter-spacing: 1.78px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  height: 50px;
  width: 196px;
  text-decoration: none;
  color: #fff;
  margin-top: 9vh
}

.single-container .text-wrap .bottom-content .links {
  display: flex;
  justify-content: space-between;
  width: 16vw;
  flex-wrap: wrap-reverse
}

.links a {
  height: 39px;
}

.single-container .text-wrap .bottom-content .links p {
  margin-top: 10.4vh;
  text-transform: uppercase;
  font-family: 'Avenir Next LT Pro';
}

.single-container .text-wrap .bottom-content .share-mobile {
  display: none
}

.single-container .text-wrap .bottom-content .links img {
  width: 21px;
  height: 21px
}

@media only screen and (max-width:1798px) {
  .single-container .text-wrap {
    padding-top: 8.2vw;
  }
}

@media only screen and (max-width:1517px) {
  .single-container .image-wrap img {
    height: 92%;
    margin-top: 10%;
  }
}

@media only screen and (max-width:1375px) {
  .links a {
    height: 21px;
  }

  .single-container .image-wrap img {
    height: 84%;
    margin-top: 17%;
  }

  .single-container .text-wrap .bottom-content .play-again {
    margin-top: 3vh;
    margin-bottom: 6vh
  }

  .single-container .text-wrap .bottom-content .links p {
    margin-top: 6vh
  }

  .single-container .text-wrap .bottom-content .links {
    width: 17vw
  }

  .single-container .text-wrap .bottom-content {
    display: block;
    margin-top: 10vh
  }

  .single-container .text-wrap .main-text-second {
    font-size: 13px
  }
}

@media only screen and (max-width:1100px) {
  .single-container .text-wrap .bottom-content {
    display: block;
    margin-top: 12vh
  }
}

@media only screen and (max-width:1023px) {
  .bottom-video {
    position: absolute;
    bottom: unset;
  }

  video {
    width: 100%;
    top: 0;

    height: auto;
    left: unset;
    position: relative;
  }

  .single-container {
    display: none;
  }

  .logo {
    width: 120px;
    height: auto
  }

  /*body {
    overflow-y: scroll
  }*/

  #choose h1 {
    top: 8vh;
    background: 0 0
  }

  #choose .header {
    position: relative;
  }

  .sport:hover {
    border-bottom: red solid 5px
  }

  .love:hover {
    border-bottom: #6236ff solid 5px
  }

  .fashion:hover {
    border-bottom: #e0208f solid 5px
  }

  .imagination:hover {
    border-bottom: #09e293 solid 5px
  }

  .select-box {
    position: relative;
    margin: 0 auto;
    padding-top: 0px;
    bottom: 10vh;
    width: 36vw;
    transform: unset;
  }

  .fashion:hover .select-box,
  .imagination:hover .select-box,
  .love:hover .select-box,
  .sport:hover .select-box {
    margin: 0;
    background-color: rgba(255, 255, 255, .151);
    margin: 0 auto;
    width: 36vw
  }

  .story {
    position: relative
  }

  .story-span {
    left: 25vw;
    font-size: 8vw
  }

  .sport-text {
    margin-left: -11vw
  }

  .love-text {
    margin-left: -9vw
  }

  .imagination-text {
    margin-left: -17.5vw
  }

  .fashion-text {
    margin-left: -13vw
  }

  .background-fashion:after,
  .background-imagination:after,
  .background-love:after,
  .background-sport:after {
    background: 0 0
  }
}

@media only screen and (max-width:1000px) {
  .single-container .image-wrap #smallImage {
    display: block
  }

  .single-container .image-wrap #bigImage {
    display: none
  }

  .single-container {
    flex-direction: column
  }

  .single-container .image-wrap {
    margin: 0 auto;
    height: unset
  }

  .single-container .image-wrap img {
    height: auto;
    width: 697px;
    margin-top: 10%
  }

  .single-container .text-wrap {
    padding-left: 2vh;
    width: 100%;
  }

  .single-container .text-wrap .main-text-head {
    margin-top: 3vh;
    font-size: 4vw;
    font-weight: 500;
  }

  .single-container .text-wrap .main-text-second {
    font-size: 3.8vw;
    line-height: 1.8;
    margin-top: 3vh;
  }

  .single-container .text-wrap .main-text-third {
    font-size: 2.7vw;
    margin-top: 9vw;
    border-left: none;
    padding-left: 0
  }

  .single-container .text-wrap .bottom-content {
    display: flex;
    justify-content: unset;
    flex-direction: column-reverse
  }

  .single-container .text-wrap .bottom-content .play-again {
    width: unset
  }

  .single-container .text-wrap .bottom-content .links p {
    display: none
  }

  .single-container .text-wrap .bottom-content .share-mobile {
    display: block;
    text-transform: uppercase;
    font-family: 'Avenir Next LT Pro';
    text-align: center;
    margin-bottom: 8vw;
    font-size: 3.5vw
  }

  .single-container .text-wrap .bottom-content .links {
    width: 80%;
    margin: 3vw auto 12vw auto;
  }

  .single-container .text-wrap .bottom-content .links img {
    width: 10vw;
    height: 10vw
  }
}

@media only screen and (max-width:772px) {
  .single-container .image-wrap img {
    width: 89vw
  }

  .select-box {
    padding-top: 4.5px;
  }
}

@media only screen and (min-width:650px) and (max-width:1023px) {
  #choose .choose {
    display: grid;
    grid-template-rows: 96vh;
    grid-template-columns: 50% 50%
  }

  .story {
    margin: auto;
    width: 49vw;
    margin-top: 0
  }

  .fashion,
  .imagination {
    margin-top: 50px;
    margin-bottom: 12px
  }

  .story:hover {
    transform: none;
    margin-top: 0
  }

  .fashion:hover {
    margin-top: 50px
  }

  .imagination:hover {
    margin-top: 50px
  }

  .story:hover img {
    opacity: 0
  }
}

@media only screen and (max-width:1000px) {
  #home-screen .container {
    width: 93vw;
    margin-top: 130px
  }

  .whats-your-row {
    font-size: 12vw;
    line-height: unset;
    top: 20vh;
  }

  .whats-your-row .story-text {
    font-size: 33vw;
    letter-spacing: 0
  }
}

@media only screen and (max-width:800px) {
  .select-box {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width:650px) {
  .whats-your-row {
    font-size: 13vw;
    top: 15vh;
  }

  .skip-button {
    padding: 0px 20px;
  }

  .bottom-video .share-links p {
    font-size: 14px;
  }

  .bottom-video .share-links img {
    width: 26px;
    height: 26px;
  }

  #home-screen .quote {
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff
  }

  .story-text {
    text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 3px 3px 0 #fff
  }

  .single-container .image-wrap img {
    margin-top: 12vw
  }

  .imagination {
    margin-bottom: 12px
  }

  #choose .choose {
    display: flex;
    flex-direction: column;
    justify-content: unset
  }

  .story {
    height: auto;
    width: 96%;
    margin: 0 auto
  }

  .fashion,
  .imagination,
  .love {
    margin-top: 50px
  }

  .story:hover {
    transform: none;
    margin-top: 50px
  }

  .story:hover img {
    opacity: 0
  }

  .fashion:hover .select-box,
  .imagination:hover .select-box,
  .love:hover .select-box,
  .sport:hover .select-box {
    width: 56vw
  }

  .select-box {
    width: 56vw;
    font-size: 2.8vw;
  }

  .story-span {
    font-size: 17vw;
    bottom: 11vh
  }

  .imagination-text {
    margin-left: -14.5vw
  }

  .fashion-text {
    margin-left: -3.5vw
  }

  .love-text {
    margin-left: 7vw
  }

  .sport-text {
    margin-left: unset;
    left: 27vw;
  }

  .single-container .text-wrap .bottom-content {
    margin-top: 7vh
  }
}

@media only screen and (max-width:450px) {
  .single-container .image-wrap img {
    margin-top: 17vw;
  }

  .whats-your-row {
    top: 12vh;
  }

  .bottom-video .share-links p {
    font-size: 11px;
  }

  .bottom-video .share-links img {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (max-width:420px) {
  .select-box {
    height: 4vh;
    font-size: 3.8vw;
    /* margin-top: 0px; */
    padding-top: 3px;

  }

}

@media only screen and (max-width:375px) {
  .bottom-video .share-links p {
    font-size: 8px;
  }

  .bottom-video .share-links img {
    width: 17px;
    height: 17px;
    margin: 5px 4px;
  }

  .skip-button {
    padding: 0px 10px;
    bottom: 3vh;
    font-size: 2vh;
  }
}

@media (max-aspect-ratio:160 / 121) {
  #choose .container {
    width: 100%;
    height: 56.25vw;
    top: calc(50vh - 28vw);
    top: 0
  }
}