<!-- index.html -->
<script>
    const currentURL = window.location.href;
</script>
<video id='myVideo' autoplay="" controls>
    <source
        src="https://player.vimeo.com/external/382406523.hd.mp4?s=87db815f2fd946cc9934076aeafce4d3a5559ea1&profile_id=175"
        type="video/mp4">
</video>
<div class="bottom-video" id="bottom-video">
    <div class="share-links">
        <p>Share your story!</p>
        <a href="javascript:;"
            onclick="javascript:window.open('https://www.facebook.com/sharer.php?u='+`${currentURL}`,'kornit-story','kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');">
            <img src="images/facebook-video2.png" alt=""></a>
        <a href="javascript:;"
            onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+`${currentURL}&text=kornit%20digital-%20what%20is%20your%20story&hashtags=kornit`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                src="images/twitter-video2.png" alt=""></a>
        <a href="javascript:;"
            onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url='+`${currentURL}&title=Kornit%20Digital&summary=Kornit%20Digital-%20What%20Is%20Your%20Story`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');">
            <img src="images/linkedin-video2.png" alt=""></a>



    </div>
    <button class='skip-button' id='button'>Skip</button>

</div>
<script>
    const video = document.getElementById('myVideo');
    const bottomVideo = document.getElementById('bottom-video');
    const content = document.getElementById('single-container');
    const fadeOut = function () {
        bottomVideo.classList.remove('fade-in');
        video.classList.remove('fade-in');
        video.classList.add('fade-out');
        bottomVideo.classList.add('fade-out');
        content.classList.add('fade-in');
        content.style['display'] = 'flex';
        setTimeout(() => {
            video.style.display = 'none';
            bottomVideo.style.display = 'none';
            video.pause();
        }, 900);
    }
    $('.skip-button').on('click', fadeOut)

    video.onended = fadeOut;
</script>
<div class="single-container" id='single-container'>

    <div class="image-wrap">
        <img src="images/fashion-single.png" id='bigImage' alt="">
        <img src="images/fashion-single-mobile.png" id='smallImage' alt="">
    </div>
    <div class="text-wrap">
        <h1>What's <b>Your</b> Story?</h1>
        <p class="main-text-head">
            Do you breathe social media, communicate via emojis, and freely
            express your fashion taste one selfie after another? If you think
            digital access is your third eye and you scan screens at a rapid
            speed, you are probably a Generation Z consumer, Kornit assures
            you have fun dressing up, styling your look, and keep a
            sustainability mind.<span class="fashion-color"> Print your personality.</span>
        </p>
        <p class="main-text-second">
            You want to stay up to date with the fashion world, and you look forward to switching
            brands for new inspiring looks. You shop on Instagram where everything is accessible.
            Stay unique. Define your style. Look good. Remain on budget. with kornit It’s that easy!
            Just <span class="underline">#wearyourstory.</span>

        </p>
        <p class="main-text-third">
            Ready to flip your wardrobe? Want to find people with similar interests? Share your
            story, and simply type
            <span class="underline">#wearyourstory</span>

        </p>
        <div class="bottom-content">
            <a href="" class='play-again' style='background-color: #e0208f;'>play again &nbsp▶</a>

            <div class="links">
                <p>share</p>
                <a href="javascript:;"
                    onclick="javascript:window.open('https://www.facebook.com/sharer.php?u='+`${currentURL}`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/facebook.png" alt=""></a>

                <a href="javascript:;"
                    onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+`${currentURL}&text=kornit%20digital-%20what%20is%20your%20story&hashtags=kornit`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/twitter.png" alt="" /></a>

                <a href="javascript:;"
                    onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url='+`${currentURL}&title=Kornit%20Digital&summary=Kornit%20Digital-%20What%20Is%20Your%20Story`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/linkedin.png" alt="" /></a>
            </div>
            <p class='share-mobile'>share</p>

        </div>
    </div>
</div>
<script>
    /*  if (screen.availWidth > 1023) {
        
            $('#single-container').css('display', 'flex')
       
    } */
    $('.play-again').on('click', (e) => {
        e.preventDefault();
        video.classList.remove('fade-out');
        video.classList.add('fade-in');
        bottomVideo.classList.remove('fade-out');
        bottomVideo.classList.add('fade-in');
        content.style['display'] = 'none';
        video.style.display = 'block';
        bottomVideo.style.display = 'block';
        video.play();
    })
</script>