<script>
    const currentURL = window.location.href;
</script>
<video id='myVideo' autoplay="" controls>
    <source
        src="https://player.vimeo.com/external/382406542.hd.mp4?s=fb295946797ffaf8b638adb68425ea14ad51a0b1&profile_id=175"
        type="video/mp4">
</video>
<div class="bottom-video" id="bottom-video">
    <div class="share-links">
        <p>Share your story!</p>

        <a href="javascript:;"
            onclick="javascript:window.open('https://www.facebook.com/sharer.php?u='+`${currentURL}`,'kornit-story','kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');">
            <img src="images/facebook-video2.png" alt=""></a>
        <a href="javascript:;"
            onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+`${currentURL}&text=kornit%20digital-%20what%20is%20your%20story&hashtags=kornit`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                src="images/twitter-video2.png" alt=""></a>
        <a href="javascript:;"
            onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url='+`${currentURL}&title=Kornit%20Digital&summary=Kornit%20Digital-%20What%20Is%20Your%20Story`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');">
            <img src="images/linkedin-video2.png" alt=""></a>



    </div>
    <button class='skip-button' id='button'>Skip</button>

</div>
<script>
    const video = document.getElementById('myVideo');
    const bottomVideo = document.getElementById('bottom-video');
    const content = document.getElementById('single-container');
    const fadeOut = function () {
        bottomVideo.classList.remove('fade-in');
        video.classList.remove('fade-in');
        video.classList.add('fade-out');
        bottomVideo.classList.add('fade-out');
        content.classList.add('fade-in');
        content.style['display'] = 'flex';
        setTimeout(() => {
            video.style.display = 'none';
            bottomVideo.style.display = 'none';
            video.pause();
        }, 900);
    }
    $('.skip-button').on('click', fadeOut)

    video.onended = fadeOut;
</script>
<div class="single-container" id='single-container'>

    <div class="image-wrap">
        <img src="images/imagination-single.png" id='bigImage' alt="">
        <img src="images/imagination-single-mobile.png" id='smallImage' alt="">
    </div>
    <div class="text-wrap">
        <h1>What's <b>Your</b> Story?</h1>
        <p class="main-text-head">
            Are you playful? Do you fantasize about creating a new reality?
            Can you imagine all the possibilities the world has to offer? It’s
            time to take your artistic vision to the next level. Kornit has
            exciting news that motivates you to #wearyourstory, so <span class='imagination-color'>start
                dreaming big</span>!
        </p>
        <p class="main-text-second">
            Take all your out-of-the-box thinking and passion and lead the way for the next best
            thing, in any context that inspires you because everything you can imagine is real!
            We encourage you to voice your new ideas that burst out of nowhere and express them
            in no time. If you can dream them, why not print them, right? It’s simple and effortless.
            It’s fun. It’s a masterpiece. <span class="underline">#wearyourstory</span>
        </p>
        <p class="main-text-third">

            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            Ready to set your imagination free? Want to find people with similar interests? Share
            your story, and simply type <span class="underline">#wearyourstory</span>

        </p>
        <div class="bottom-content">
            <a href="" class='play-again' style='background-color: #09e293;'>play again &nbsp▶</a>

            <div class="links">
                <p>share</p>
                <a href="javascript:;"
                    onclick="javascript:window.open('https://www.facebook.com/sharer.php?u='+`${currentURL}`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/facebook.png" alt=""></a>

                <a href="javascript:;"
                    onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+`${currentURL}&text=kornit%20digital-%20what%20is%20your%20story&hashtags=kornit`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/twitter.png" alt="" /></a>

                <a href="javascript:;"
                    onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url='+`${currentURL}&title=Kornit%20Digital&summary=Kornit%20Digital-%20What%20Is%20Your%20Story`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/linkedin.png" alt="" /></a>
            </div>
            <p class='share-mobile'>share</p>

        </div>
    </div>
</div>
<script>
    /*   if (screen.availWidth > 1023) {
        setTimeout(() => {
            $('#single-container').css('display', 'flex')
        }, 3000);
    } */
    $('.play-again').on('click', (e) => {
        e.preventDefault();
        video.classList.remove('fade-out');
        video.classList.add('fade-in');
        bottomVideo.classList.remove('fade-out');
        bottomVideo.classList.add('fade-in');
        content.style['display'] = 'none';
        video.style.display = 'block';
        bottomVideo.style.display = 'block';
        video.play();
    })

    document.querySelector('meta[name="ogTitle"]').setAttribute("content", 'hi there')
</script>