<!-- index.html -->
<script>
    const currentURL = window.location.href;
</script>
<video class="" id='myVideo' controls autoplay="" class="">
    <source
        src="https://player.vimeo.com/external/382406554.hd.mp4?s=a0cfd3d9bc6173241df4292c7d9196b4dcbfd142&profile_id=175"
        type="video/mp4">
</video>
<div class="bottom-video" id="bottom-video">
    <div class="share-links">
        <p>Share your story!</p>
        <a href="javascript:;"
            onclick="javascript:window.open('https://www.facebook.com/sharer.php?u='+`${currentURL}`,'kornit-story','kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');">
            <img src="images/facebook-video2.png" alt=""></a>
        <a href="javascript:;"
            onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+`${currentURL}&text=kornit%20digital-%20what%20is%20your%20story&hashtags=kornit`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                src="images/twitter-video2.png" alt=""></a>
        <a href="javascript:;"
            onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url='+`${currentURL}&title=Kornit%20Digital&summary=Kornit%20Digital-%20What%20Is%20Your%20Story`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');">
            <img src="images/linkedin-video2.png" alt=""></a>
    </div>
    <button class='skip-button' id='button'>Skip</button>

</div>
<script>
    const video = document.getElementById('myVideo');
    const bottomVideo = document.getElementById('bottom-video');
    const content = document.getElementById('single-container');
    const fadeOut = function () {
        bottomVideo.classList.remove('fade-in');
        video.classList.remove('fade-in');
        video.classList.add('fade-out');
        bottomVideo.classList.add('fade-out');
        content.classList.add('fade-in');
        content.style['display'] = 'flex';
        setTimeout(() => {
            video.style.display = 'none';
            bottomVideo.style.display = 'none';
            video.pause();
        }, 900);
    }
    $('.skip-button').on('click', fadeOut)

    video.onended = fadeOut;
</script>
<div class="single-container" id='single-container'>

    <div class="image-wrap">
        <img src="images/love-single.png" id='bigImage' alt="">
        <img src="images/love-single-mobile.png" id='smallImage' alt="">
    </div>
    <div class="text-wrap">
        <h1>What's <b>Your</b> Story?</h1>
        <p class="main-text-head">
            Do you get all mushy on Valentine’s day? Do you think love would
            make the world a better place? Do you like the exciting deep
            feeling of butterflies in your stomach when your partner opens
            the door for you? If so, then you believe in true love, hoping the
            right special person with that right spark is somewhere out there
            waiting for you. Luckily, Kornit is an expert when it’s time to
            <span class='love-color'>express your emotions</span> with fresh, inspiring prints that show a lot
            more than just sending a dozen roses or paying the bill.
        </p>
        <p class="main-text-second">
            We are enthused to have the right technology, so all that’s left is to <span
                class="underline">#wearyourstory</span> and
            say “I’m thinking of you” in any tone, color, or style. It’s thoughtful. It’s flirty. It fits your
            budget.
            When you know, you just know, so signal romantic gestures and share your affection.
            Simply <span class="underline">#wearyourstory</span> and sweep your partner off his feet.
        </p>
        <p class="main-text-third">
            Ready to speak your mind and heart? Want to find people with similar interests? Share your story, and simply
            type <span class="underline">#wearyourstory</span>

        </p>
        <div class="bottom-content">
            <a href="" class='play-again' style='background-color: #6236ff;'>play again &nbsp▶</a>

            <div class="links">
                <p>share</p>
                <a href="javascript:;"
                    onclick="javascript:window.open('https://www.facebook.com/sharer.php?u='+`${currentURL}`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/facebook.png" alt=""></a>

                <a href="javascript:;"
                    onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+`${currentURL}&text=kornit%20digital-%20what%20is%20your%20story&hashtags=kornit`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/twitter.png" alt="" /></a>

                <a href="javascript:;"
                    onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url='+`${currentURL}&title=Kornit%20Digital&summary=Kornit%20Digital-%20What%20Is%20Your%20Story`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/linkedin.png" alt="" /></a>
            </div>
            <p class='share-mobile'>share</p>

        </div>
    </div>
</div>
<script>
    /*   if (screen.availWidth > 1023) {
        setTimeout(() => {
            $('#single-container').css('display', 'flex')
        }, 3000);
    } */
    $('.play-again').on('click', (e) => {
        e.preventDefault();
        video.classList.remove('fade-out');
        video.classList.add('fade-in');
        bottomVideo.classList.remove('fade-out');
        bottomVideo.classList.add('fade-in');
        content.style['display'] = 'none';
        video.style.display = 'block';
        bottomVideo.style.display = 'block';
        video.play();
    })
</script>