<!-- index.html -->
<script>
    const currentURL = window.location.href;
</script>
<video class="" id='myVideo' autoplay="" controls class="">
    <source
        src="https://player.vimeo.com/external/382406566.hd.mp4?s=f4ecef42376b99884cdd5fd7e21790a8691aa015&profile_id=175"
        type="video/mp4">
</video>
<div class="bottom-video" id="bottom-video">
    <div class="share-links">
        <p>Share your story!</p>

        <a href="javascript:;"
            onclick="javascript:window.open('https://www.facebook.com/sharer.php?u='+`${currentURL}`,'kornit-story','kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');">
            <img src="images/facebook-video2.png" alt=""></a>
        <a href="javascript:;"
            onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+`${currentURL}&text=kornit%20digital-%20what%20is%20your%20story&hashtags=kornit`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                src="images/twitter-video2.png" alt=""></a>
        <a href="javascript:;"
            onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url='+`${currentURL}&title=Kornit%20Digital&summary=Kornit%20Digital-%20What%20Is%20Your%20Story`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');">
            <img src="images/linkedin-video2.png" alt=""></a>



    </div>
    <button class='skip-button' id='button'>Skip</button>

</div>
<script>
    const video = document.getElementById('myVideo');
    const bottomVideo = document.getElementById('bottom-video');
    const content = document.getElementById('single-container');

    function fadeOut() {
        bottomVideo.classList.remove('fade-in');
        video.classList.remove('fade-in');
        video.classList.add('fade-out');
        bottomVideo.classList.add('fade-out');
        content.style['display'] = 'flex';
        setTimeout(() => {
            video.style.display = 'none';
            bottomVideo.style.display = 'none';
            video.pause();
        }, 900);
    }
    $('.skip-button').on('click', fadeOut)

    video.onended = fadeOut;
</script>
<div class="single-container" id='single-container'>

    <div class="image-wrap">
        <img src="images/sport-single.png" id='bigImage' alt="">
        <img src="images/sport-single-mobile.png" id='smallImage' alt="">
    </div>
    <div class="text-wrap">
        <h1>What's <b>Your</b> Story?</h1>
        <p class="main-text-head">
            Are you a natural goal setter? Do you motivate yourself by repeatedly crushing your personal record? If
            sport always comes naturally first, Kornit has a topmost energy saver, so you can continue being focused on
            <span class='sport-color'>chasing the finish line</span>.
        </p>
        <p class="main-text-second">
            We know you always look at the big picture, and we’ll help you achieve it, simply by wearing it.
            <span class="underline">#wearyourstory</span>! Stay gifted. Remain present. Keep in motion. No blood, sweat,
            or tears. <br><br>Kornit has
            the
            ultimate technology to print your unique personality in an easy, concise process without any shortcuts. It’s
            perfect, just as you like it! We appreciate being part of your journey. Print your training mindset.
            <span class="underline">#wearyourstory</span>.
        </p>
        <p class="main-text-third">
            Ready for that final push? Want to find people with similar interests? Share your story, and simply type
            <span class="underline">#wearyourstory</span>

        </p>
        <div class="bottom-content">
            <a href="" class='play-again' style='background-color: red;'>play again &nbsp▶</a>

            <div class="links">
                <p>share</p>
                <a href="javascript:;"
                    onclick="javascript:window.open('https://www.facebook.com/sharer.php?u='+`${currentURL}`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/facebook.png" alt=""></a>

                <a href="javascript:;"
                    onclick="javascript:window.open('https://twitter.com/intent/tweet?url='+`${currentURL}&text=kornit%20digital-%20what%20is%20your%20story&hashtags=kornit`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/twitter.png" alt="" /></a>

                <a href="javascript:;"
                    onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&url='+`${currentURL}&title=Kornit%20Digital&summary=Kornit%20Digital-%20What%20Is%20Your%20Story`,'kornit-story','width=635,height=346,scrollbars=no,status=no,toolbar=no,menubar=no,location=no');"><img
                        src="images/linkedin.png" alt="" /></a>
            </div>
            <p class='share-mobile'>share</p>

        </div>
    </div>
</div>
<script>
    /*    if (screen.availWidth > 1023) {
        setTimeout(() => {
            $('#single-container').css('display', 'flex')
        }, 3000);
    } */
    $('.play-again').on('click', (e) => {
        e.preventDefault();
        video.classList.remove('fade-out');
        video.classList.add('fade-in');
        bottomVideo.classList.remove('fade-out');
        bottomVideo.classList.add('fade-in');
        content.style['display'] = 'none';
        video.style.display = 'block';
        bottomVideo.style.display = 'block';
        video.play();
    })
</script>